.buttons {
  position: fixed;
  top:65px;
  left: 330px; 
  height: 70px;
  width: calc(100% - 280px);
  display: flex;
  align-items: center;
  padding-left: 10px;
  background-color: #fff;
  z-index: 950; 
}

@media (max-width: 1300px) {
  .buttons {
    left: 95px;
    width: calc(100% - 90px);
  }
}

@media (max-width: 768px) {
  .buttons {
    left: 0;
    width: 100%;
  }
}
