<aside class="sidebar">
  <nav class="sidebar__nav">
    <app-nav-button label="Home" [selected]="selectedNav === 'Home'" (select)="onSelect($event)"></app-nav-button>
    <app-nav-button label="Shorts" [selected]="selectedNav === 'Shorts'" (select)="onSelect($event)"></app-nav-button>
    <app-nav-button label="Subscriptions" [selected]="selectedNav === 'Subscriptions'" (select)="onSelect($event)"></app-nav-button>
    <app-nav-button label="You" [selected]="selectedNav === 'You'" (select)="onSelect($event)"></app-nav-button>
    <app-nav-button label="History" [selected]="selectedNav === 'History'" (select)="onSelect($event)"></app-nav-button>
    
    
    <section class="sidebar__nav extra">
    <hr class="extra" />
    <p class="signin-text extra">Sign in to like videos, comment, and subscribe.</p>
    <div class="sign-in-btn-container">
      <button class="sign-in-btn ">
        <div class="sign-in-icon"></div>
        Sign in
      </button>
    </div>

    <hr />
    <app-nav-button label="Trending" [selected]="selectedNav === 'Trending'" (select)="onSelect($event) "></app-nav-button>
    <app-nav-button label="Music" [selected]="selectedNav === 'Music'" (select)="onSelect($event)" ></app-nav-button>
    <app-nav-button label="Movies & TV" [selected]="selectedNav === 'Movies & TV'" (select)="onSelect($event)"></app-nav-button>
    <app-nav-button label="Live" [selected]="selectedNav === 'Live'" (select)="onSelect($event)"></app-nav-button>
    <app-nav-button label="Gaming" [selected]="selectedNav === 'Gaming'" (select)="onSelect($event)"></app-nav-button>
    <app-nav-button label="New" [selected]="selectedNav === 'New'" (select)="onSelect($event)"></app-nav-button>
    <app-nav-button label="Sports" [selected]="selectedNav === 'Sports'" (select)="onSelect($event)"></app-nav-button>
    <app-nav-button label="Learning" [selected]="selectedNav === 'Learning'" (select)="onSelect($event)"></app-nav-button>
    <hr/>
    <app-nav-button label="YouTube Premium" [selected]="selectedNav === 'YouTube Premium'" (select)="onSelect($event)"></app-nav-button>
    <app-nav-button label="YouTube TV" [selected]="selectedNav === 'YouTube TV'" (select)="onSelect($event)"></app-nav-button>
    <app-nav-button label="YouTube Music" [selected]="selectedNav === 'YouTube Music'" (select)="onSelect($event)"></app-nav-button>
    <app-nav-button label="YouTube Kids" [selected]="selectedNav === 'YouTube Kids'" (select)="onSelect($event)"></app-nav-button>
    <hr/>
    <app-nav-button label="Settings" [selected]="selectedNav === 'Settings'" (select)="onSelect($event)"></app-nav-button>
    <app-nav-button label="Report history" [selected]="selectedNav === 'Report history'" (select)="onSelect($event)"></app-nav-button>
    <app-nav-button label="Help" [selected]="selectedNav === 'Help'" (select)="onSelect($event)"></app-nav-button>
    <app-nav-button label="Send feedback" [selected]="selectedNav === 'Send feedback'" (select)="onSelect($event)"></app-nav-button>
  </section>
  </nav>
</aside>
