
nav{


 margin-bottom: 50px;
}
.sidebar {
  position: fixed;
  top: 80px;
  left: 4px;
  flex: 0 0 280px;
  max-width: 300px;
  background-color: #fff;
  padding: 0 1.5em 400em 1.5em;
  height: calc(100vh - 60px);
  overflow-y: hidden;
  

}


@media (min-width: 1301px) {
  .sidebar:hover {
    overflow-y: scroll;
  }
  .sidebar::-webkit-scrollbar {
    width: 8px;
  }
  .sidebar::-webkit-scrollbar-track {
    background: transparent;
  }
  .sidebar::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  .sidebar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .sidebar {
    scrollbar-width: none;
  }
  .sidebar:hover {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  }
}

/* Nav items */
.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.nav-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 0.95rem;
  padding: 0.5rem 0.5rem;
}
.nav-item:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}
.icon-box {
  width: 24px;
  height: 24px;
  background-color: #ccc;
  border-radius: 4px;
  margin-right: 25px;
}
hr, hr.extra {
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 0.5rem 0;
}
.signin-text {
  width: 80%;
}
.sign-in-btn {
  width: 115px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 999px;
  background-color: #fff;
  color: #065FD4;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.2s;
}
.sign-in-btn:hover {
  background-color: #f0f0f0;
}
.sign-in-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
}

/* Responsive adjustments for 1300px and below */
@media (max-width: 1300px) {

  :host ::ng-deep .nav-item--main {
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }
  
  :host ::ng-deep .nav-item--main .icon-box {
    margin-right: 0;
    margin-bottom: 5px;
  }
  
  :host ::ng-deep .nav-item--main span {
    font-size: .8em;
    margin-bottom: 20px;
  }

  
  .sidebar {
    flex: 0 0 90px;
    left: -5px;
    max-width: 90px;
    height: calc(100vh - 60px);
    overflow-y: hidden;
    padding: 0rem 0.5rem;
  }
  /* Hide extra nav items */
  .nav-item--extra,
  .extra {
    display: none;
  }
  /* For main nav items, stack icon above text */
  .nav-item--main {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .nav-item--main .icon-box {
    margin-right: 0;
    margin-bottom: 5px;
  }
  .nav-item--main span {
    margin-bottom: 0px;

  }
  .nav-item {
    font-size: 0.8rem;
  }
}

/* Hide sidebar on small screens */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
