html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: Arial, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 60px;
}

.buttons {
  position: sticky;
  top: 60px;
  z-index: 999;
  height: 50px;
}

.main-area {
  display: flex;
  flex: 1;
}

.sidebar {
  position: sticky;
  width: 280px;
  overflow-y: auto;
  flex-shrink: 0;
  margin-bottom: 200px;

}


.content {
  flex: 1;
  background-color: #ffffff;
}


@media (max-width: 1300px) {
  .sidebar {
    width: 90px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .header .header__left,
  .header .header__right {
    display: none;
  }
}
