<div class="content-container">
  <section class="video-row">
    <app-video-h 
      *ngFor="let video of visibleVideoCards"
      [title]="video.title"
      [creator]="video.creator"
      [views]="video.views"
      [age]="video.age">
    </app-video-h>
  </section>

  <div class="channel-header">
    <div class="channel-icon"></div>
    <div class="channel-title">Shorts</div>
  </div>

  <section class="video-row vertical">
    <!-- Vertical header for the vertical videos -->

    <app-video-v 
      *ngFor="let video of visibleVerticalVideoCards"
      [title]="video.title"
      [creator]="video.creator"
      [views]="video.views"
      [age]="video.age">
    </app-video-v>
  </section>
  
  <section class="video-row">
    <app-video-h 
      *ngFor="let video of visibleVideoCards"
      [title]="video.title"
      [creator]="video.creator"
      [views]="video.views"
      [age]="video.age">
    </app-video-h>
  </section>
</div>
