.content-container {
  position: relative;
  margin-top: 80px;
  z-index: 800;

}

.vertical-header {
  display: flex;
  align-items: center; /* vertically centers the items */
  gap: 15px;         /* 15px gap between the icon and title */
  margin-bottom: 15px; /* space between the header and the videos */
}


.channel-header {
  display: flex;
  align-items: center;
  margin-left: 10px;;
  margin-bottom: 15px; /* Adds space between the header and the video thumbnail */
}

.channel-icon {
  width: 40px;
  height: 40px;
  background-color: #ddd; /* Change to desired color */
  border-radius: 50%;
  flex-shrink: 0;
}

.channel-title {
  margin-left: 10px;
  font-size: 1.25em;
  font-weight: bold;
}

.video-row {
  display: flex;
  flex-wrap: nowrap;  
  overflow-x: auto;   
  gap: 15px;
  overflow-x: hidden;
  margin-bottom: 50px;;

}

.video-row {
  margin-left: 15px;

}


@media (min-width: 1300px) {
  .content-container {
    margin-left: 45px;
  
  }
 
}


@media (max-width: 768px) {
  .content-container {
    left: 0;
    width: 100%;
  
  }

  .video-row app-video-h:first-child {
    width: 100%;
    margin: 0 15px;
    
  }

}
